<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<style>
		* {
			box-sizing: border-box;
		}
		html {
			background-color: #e6e6e6;
		}
		body {
			background-color: #f5f5f5;
			font-family: sans-serif;
			max-width: 880px;
			margin: 30px auto;
			padding: 30px
		}
		img {
			max-width: 100%;
		}
		.renderhooked {
			border: 20px solid tomato;
			padding: 5px;
		}
		a {
			color: tomato;
			font-size: 2rem;
		}
		pre {
			background-color: #ccc;
			font-size: 16px;
			padding: 10px;
			white-space: pre-wrap;
		  word-wrap: break-word;
		  text-align: justify;
		}
	</style>
</head>
<body>

	{{ block "main" . }}
	{{ end }}

</body>
</html>
